.imgReview {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    .imgContainer {
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
    }
    img {
        margin: auto;
        max-width: 78vw;
        max-height: 100vh;
        image-rendering: pixelated;
    }
    .toolContainer {
        position: relative;
        margin: 2rem;
        z-index: 1;
        & > .toolRight {
            float: right;
            & > .fontIcon {
                margin-right: 1rem;
            }
        }
    }
    .fontIcon {
        padding: 0.3rem;
        border-radius: 100%;
        background-color: #1111118e;
        cursor: pointer;
        &.--disable {
            color: #9aa0a6;
            cursor: not-allowed;
            background: none !important;
        }
        &:hover {
            background-color: #90909064;
        }
        &:active {
            background-color: #90909064;
        }
    }
}
